<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryIP" value="172.16.8.105" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryPassword" value="root" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>