<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9021/Service.svc" contract="JobService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9051/Service.svc" contract="HorizonService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9061/Service.svc" contract="SearchService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ExceptionHandlerLogPath" value="C:\Program Files (x86)\G.P.A.S\Dispatch Service\Error Logs\Admin Tools" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>