<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPAS.JobServer.JobWorkerProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="JobServerDatabases" type="GPAS.JobServer.Logic.Entities.ConfigElements.JobServerDatabases, GPAS.JobServer.Logic" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="JobsDBEntities" connectionString="metadata=res://*/JobsDB.csdl|res://*/JobsDB.ssdl|res://*/JobsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SqlExpress;initial catalog=system_JobServerDB;persist security info=True;user id=sa;password=123456Qwerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamingFileTransferServicesBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7011/InfrastructureService.svc" binding="basicHttpBinding" bindingConfiguration="StreamingFileTransferServicesBinding" contract="DispatchService.IInfrastructureService" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <GPAS.JobServer.JobWorkerProcess.Properties.Settings>
      <setting name="InuseGUID" serializeAs="String">
        <value />
      </setting>
    </GPAS.JobServer.JobWorkerProcess.Properties.Settings>
  </userSettings>
  <appSettings>
    <!--Deprecated-->
    <add key="NumberOfCsvBatchLines" value="1000" />
    <!--Deprecated | در صورتی بخشی از فرایند ورود داده‌های نیمه ساختیافته موفقیت‌آمیز نباشد، فرایند قطع نمی‌شود و تا زمانی که حداقل به اندازه‌ی درصد تعیین شده در این تنظیم از کل فرایند ورود قابل تحقق باشد ادامه می‌یابد-->
    <add key="PercentOfAcceptableSuccessfulSemistructuredDataImport" value="95" />
    <add key="LogsPath" value="C:\JobWorkerLogs\" />
    <add key="ImportDataSourceTempPath" value="C:\ImportDataSource\" />
    <add key="JobShareService_ServerAddress" value="core.dev.kavosh.it.sh" />
    <add key="JobShareService_PortNumber" value="9022" />
    <add key="JobShareService_UserName" value="JobShareUser" />
    <add key="JobShareService_Password" value="123456Qwerty" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportFullDetailsInImportLog" value="true" />
    <add key="MinimumIntervalBetwweenIterrativeLogsReportInSeconds" value="30" />
    <!-- ترتیب تلاش‌های مجدد برای انتشارهای ناموفق: «۲» به توان «شماره‌ی تلاش»، ضربدر «۲۵۰» میلی ثانیه -->
    <add key="PublishMaximumRetryTimes" value="5" />
    <add key="PublishAcceptableFailsPercentage" value="5" />
    <!-- Maximum acceptable value for 'AttachedDatabaseImportBatchMaximumFields' is 2,147,483,647 fields -->
    <add key="AttachedDatabaseImportBatchMaximumFields" value="20000000" />
    <!-- Maximum acceptable value for 'MaxNumberOfGlobalResolutionCandidates' is 200-->
    <add key="MaxNumberOfGlobalResolutionCandidates" value="50" />
    <add key="OntologyPath" value="C:\JobWorkerOntology\" />
    <add key="EmlToCsvConvertOutputFileSplite" value="true" />
    <add key="EmlToCsvConvertOutputFileMaxRows" value="25000" />
  </appSettings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
