<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="JobsDBEntities" connectionString="metadata=res://*/JobsDB.csdl|res://*/JobsDB.ssdl|res://*/JobsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SqlExpress;initial catalog=system_JobServerDB;persist security info=True;user id=sa;password=123qwe!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9011/InfrastructureService.svc" contract="DispatchService.IInfrastructureService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="LogsPath" value="C:\Program Files (x86)\G.P.A.S\Job Service\Logs\Job Worker Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="ImportDataSourceTempPath" value="C:\Program Files (x86)\G.P.A.S\Job Service\Import Data Sources\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="JobShareService_ServerAddress" value="localhost" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="OntologyPath" value="C:\Program Files (x86)\G.P.A.S\Job Service\Job Monitoring Agent\Ontology\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <JobServerDatabases>
    <DatabaseServers>
      <!-- To overwrite this config on "Develop Deploy" uncomment below tags.
      <add xdt:Transform="RemoveAll" />
      <add key="SQL Server D5" hostAddress="core.dev.kavosh.it.sh" userName="sa" password="123qwe!@#" xdt:Transform="Insert" />-->
    </DatabaseServers>
  </JobServerDatabases>
</configuration>