<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <bindings>
      <basicHttpBinding xdt:Transform="Insert">
        <binding name="BasicHttpBinding_ITestService" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint contract="RemoteService.IWorkspaceService" xdt:Locator="Match(contract)">
        <identity>
          <certificate xdt:Transform="Remove" />
          <dns value="DispatchServicesUsageCert" xdt:Transform="Insert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:7011/TestService.svc?singleWsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService" contract="TestService.ITestService" name="BasicHttpBinding_ITestService" xdt:Transform="Insert"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ImportLogPath" value=".\@TestWorkingDir\Import Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="WorkspaceTempFolderPath" value=".\@TestWorkingDir\Temp\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="OntologyTempFolderPath" value=".\@TestWorkingDir\Ontology\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LocalUnstructuredFolderPath" value=".\@TestWorkingDir\Unstructured Files\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="ExceptionHandlerLogPath" value=".\@TestWorkingDir\Error Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>