<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPAS.LoadTest.Presenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <!-- Data Repository -->

    <add key="RepositorydbIP" value="cockroach.dev.kavosh.it.sh" />
    <add key="RepositorydbPort" value="26257" />
    <add key="RepositorydbDatabase" value="repositorydb" />
    <add key="RepositorydbUser" value="root" />
    <add key="RepositorydbPassword" value="123qwe!@#" />
    <!-- Error Log AppSettings -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:\Repository Server\Error Logs\" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- File Repository -->

    <!--Flat File Storage Plugin(s)-->
    <add key="FlatFileStoragePluginPath" value="C:\File Repository\Plugins\GPAS.FileRepository.FlatFileStoragePlugins.NTFS\" />

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.Hadoop.ServerAddress" value="hadoop.dev.kavosh.it.sh" />
    <add key="GPAS.FileRepository.FlatFileStoragePlugins.Hadoop.UploadFileTimeoutMiliseconds" value="1200000" />

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.HBase.ServerAddress" value="http://172.16.8.203:8080/hbase/rest/" />
    <!--<add key="GPAS.FileRepository.FlatFileStoragePlugins.HBase.ServerAddress" value="http://10.2.4.123:8080/SpringRestExample/rest/"/>-->

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.NTFS.RootPath" value="C:\File Repository\FlatFileStoragePlugins.NTFS.RootPath\" />
    <!--Hierarchical File Storage Plugin(s)-->
    <add key="HierarchicalFileStoragePluginPath" value="C:\File Repository\Plugins\GPAS.FileRepository.HierarchicalFileStoragePlugins.NTFS\" />

    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.ServerAddress" value="hadoop.dev.kavosh.it.sh" />
    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.UploadFileTimeoutMiliseconds" value="1200000" />

    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.NTFS.RootPath" value="C:\File Repository\HierarchicalFileStoragePlugins.NTFS.RootPath\" />
    <!-- Error Logs -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:\File Repository\Error Logs\" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <add key="JobShareService_ServerAddress" value="core.dev.kavosh.it.sh" />
    <add key="JobShareService_PortNumber" value="9022" />
    <add key="JobShareService_UserName" value="JobShareUser" />
    <add key="JobShareService_Password" value="123456Qwerty" />

    <!-- Horizon Server -->
    <add key="OntologyPath" value="C:/Horizon Server/Ontology/" />
    <!-- Error Log AppSettings -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:/Horizon Server/Error Logs/" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <add key="AdministrativeEventLogsPath" value="C:\Horizon Server\Administrative Event Logs\" />
    <add key="AdministrativeEventStoreNLastLogs" value="100000" />
    <add key="ManagerLogsFolderPath" value="C:\Horizon Server\Manager Logs\" />
    <!-- Synchronization -->
    <add key="SynchronizationProcessDefaultNumberOfObjects" value="1000" />
    <!-- Data Reset -->
    <add key="ResetProcessDefaultNumberOfObjectsForGetSequential" value="10000" />
    <!-- Currently, concurrent synchronization cause exception; '1' is safe value for 'ResetProcessDefaultMaximumConcurrentSynchronizations' -->
    <add key="ResetProcessDefaultMaximumConcurrentSynchronizations" value="1" />
    <add key="MaximumRetryTimesOnFailureOfSingleBatchInResetProcess" value="6" />
    <add key="StablityStatusFilePath" value="C:\Horizon Server\StabilityStatus.txt" />
    <add key="GraphRepositoryPluginPath" value="C:\Horizon Server\Plugins\GPAS.Horizon.GraphRepositoryPlugins.RestAPI\" />

    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryIP" value="orientdb.dev.kavosh.it.sh" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryPassword" value="root" />

    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryIP" value="orientdb.dev.kavosh.it.sh" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryPassword" value="root" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <GPAS.LoadTest.Presenter.Properties.Settings>
      <setting name="Setting_LogFolder" serializeAs="String">
        <value>C:\LoadTestResults</value>
      </setting>
    </GPAS.LoadTest.Presenter.Properties.Settings>
  </applicationSettings>
</configuration>