<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9041/Service.svc" contract="FileRepositoryService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9011/InfrastructureService.svc" contract="DispatchService.IInfrastructureService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9031/Service.svc" contract="RepositoryService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="OntologyPath" value="C:\Test_Deploy_Program_Files\Search Service\Ontology\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="ExceptionHandlerLogPath" value="C:\Test_Deploy_Program_Files\Search Service\Error Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="AdministrativeEventLogsPath" value="C:\Test_Deploy_Program_Files\Search Service\Administrative Event Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SolrURL" value="http://infra.test.kavosh.it.sh:9063/solr" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SolrObjectURL" value="http://infra.test.kavosh.it.sh:9063/solr/Object_Collection" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SolrFileURL" value="http://infra.test.kavosh.it.sh:9063/solr/File_Collection" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SolrDataSourceURL" value="http://infra.test.kavosh.it.sh:9063/solr/DataSource_Collection" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="SolrConfigSetPath" value="C:\Test_Deploy_Program_Files\Search Service\SolrConfigSets\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="ManagerLogsFolderPath" value="C:\Test_Deploy_Program_Files\Search Service\Manager Logs\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="StablityStatusFilePath" value="C:\Test_Deploy_Program_Files\Search Service\StabilityStatus.dat" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>