<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.ServerAddress" value="hadoop.dev.kavosh.it.sh"/>
    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.UploadFileTimeoutMiliseconds" value="1200000"/>
  </appSettings>
</configuration>