<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://core.test.kavosh.it.sh:9011/InfrastructureService.svc" contract="DispatchService.IInfrastructureService"  xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://core.test.kavosh.it.sh:9031/Service.svc" contract="RepositoryService.IService"  xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="GraphRepositoryPluginRelativePath" value=".\Plugins\GPAS.Horizon.GraphRepositoryPlugins.RestAPI\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryIP" value="infra.test.kavosh.it.sh" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryIP" value="infra.test.kavosh.it.sh" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>