<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7011/InfrastructureService.svc" binding="basicHttpBinding" bindingConfiguration="StreamingFileTransferServicesBinding" contract="DispatchService.IInfrastructureService" name="BasicHttpBinding_IService" />
      <endpoint address="http://localhost:7031/Service.svc" binding="basicHttpBinding" bindingConfiguration="StreamingFileTransferServicesBinding" contract="RepositoryService.IService" name="BasicHttpBinding_IService1" />
		<endpoint address="http://localhost:7061/Service.svc" binding="basicHttpBinding" bindingConfiguration="StreamingFileTransferServicesBinding" contract="SearchService.IService" name="BasicHttpBinding_IService1" />
    </client>

    <services>
      <service behaviorConfiguration="MyBehavior" name="GPAS.Horizon.Server.Service">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="StreamingFileTransferServicesBinding" contract="GPAS.Horizon.Server.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="StreamingFileTransferServicesBinding" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svs" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="OntologyPath" value="C:/Horizon Server/Ontology/" />
    <!-- Error Log AppSettings -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:/Horizon Server/Error Logs/" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <add key="AdministrativeEventLogsPath" value="C:\Horizon Server\Administrative Event Logs\" />
    <add key="AdministrativeEventStoreNLastLogs" value="100000" />
    <add key="ManagerLogsFolderPath" value="C:\Horizon Server\Manager Logs\" />
    <!-- Synchronization -->
    <add key="SynchronizationProcessDefaultNumberOfObjects" value="1000" />
    <!-- Data Reset -->
    <add key="ResetProcessDefaultNumberOfObjectsForGetSequential" value="10000" />
    <!-- Currently, concurrent synchronization cause exception; '1' is safe value for 'ResetProcessDefaultMaximumConcurrentSynchronizations' -->
    <add key="ResetProcessDefaultMaximumConcurrentSynchronizations" value="1" />
    <add key="MaximumRetryTimesOnFailureOfSingleBatchInResetProcess" value="6" />
    <add key="StablityStatusFilePath" value="C:\Horizon Server\StabilityStatus.txt" />
    <add key="GraphRepositoryPluginRelativePath" value=".\bin\Plugins\GPAS.Horizon.GraphRepositoryPlugins.Neo4j"/>   

    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryIP" value="orientdb.dev.kavosh.it.sh" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientNet.RepositoryPassword" value="root" />

    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryIP" value="orientdb.dev.kavosh.it.sh" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.RestAPI.RepositoryPassword" value="root" />

    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryIP" value="orientdb.dev.kavosh.it.sh" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.DatabaseName" value="OrientDBGraphRepository" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryUser" value="root" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.OrientRestV3.RepositoryPassword" value="root" />

    <add key="GPAS.Horizon.GraphRepositoryPlugins.Neo4j.RepositoryIP" value="172.16.8.120" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.Neo4j.DatabaseName" value="neo4j" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.Neo4j.RepositoryUser" value="neo4j" />
    <add key="GPAS.Horizon.GraphRepositoryPlugins.Neo4j.RepositoryPassword" value="102030" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>