<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GPAS.FileRepository.Service">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="lorgDataAccept" contract="GPAS.FileRepository.IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="lorgDataAccept" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <!--Flat File Storage Plugin(s)-->
    <add key="FlatFileStoragePluginRelativePath" value="Plugins\GPAS.FileRepository.FlatFileStoragePlugins.NTFS\"/>

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.Hadoop.ServerAddress" value="hadoop.dev.kavosh.it.sh"/>
    <add key="GPAS.FileRepository.FlatFileStoragePlugins.Hadoop.UploadFileTimeoutMiliseconds" value="1200000"/>

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.HBase.ServerAddress" value="http://172.16.8.203:8080/hbase/rest/"/>
    <!--<add key="GPAS.FileRepository.FlatFileStoragePlugins.HBase.ServerAddress" value="http://10.2.4.123:8080/SpringRestExample/rest/"/>-->

    <add key="GPAS.FileRepository.FlatFileStoragePlugins.NTFS.RootPath" value="C:\File Repository\FlatFileStoragePlugins.NTFS.RootPath\" />
    <!--Hierarchical File Storage Plugin(s)-->
    <add key="HierarchicalFileStoragePluginRelativePath" value="Plugins\GPAS.FileRepository.HierarchicalFileStoragePlugins.NTFS\"/>

    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.ServerAddress" value="hadoop.dev.kavosh.it.sh"/>
    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.Hadoop.UploadFileTimeoutMiliseconds" value="1200000"/>

    <add key="GPAS.FileRepository.HierarchicalFileStoragePlugins.NTFS.RootPath" value="C:\File Repository\HierarchicalFileStoragePlugins.NTFS.RootPath\" />
    <!-- Error Logs -->
    <add key="ExceptionHandlerLogRegistration" value="true"/>
    <add key="ExceptionHandlerLogPath" value="C:\File Repository\Error Logs\"/>
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100"/>
    <add key="JobShareService_ServerAddress" value="core.dev.kavosh.it.sh"/>
    <add key="JobShareService_PortNumber" value="9022"/>
    <add key="JobShareService_UserName" value="JobShareUser"/>
    <add key="JobShareService_Password" value="123456Qwerty"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>