<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GPAS.SearchServer.Service">
        <endpoint address="" binding="basicHttpBinding" contract="GPAS.SearchServer.IService" bindingConfiguration="BasicHttpBinding_Iservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Iservice" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IService2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7041/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="FileRepositoryService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:7011/InfrastructureService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="DispatchService.IInfrastructureService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://localhost:7031/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="RepositoryService.IService" name="BasicHttpBinding_IService2" />
    </client>


  </system.serviceModel>
  <appSettings>
    <add key="OntologyPath" value="C:\Search Server\Ontology\" />
    <!-- Error Logs -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:\Search Server\Error Logs\" />
    <add key="AdministrativeEventLogsPath" value="C:\Search Server\Administrative Event Logs\" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <add key="AdministrativeEventStoreNLastLogs" value="100000" />
    <!-- Solr Connection -->
    <add key="SolrURL" value="http://172.16.8.120:8983/solr" />
    <add key="SolrObjectURL" value="http://172.16.8.120:8983/solr/Object_Collection" />
    <add key="SolrResolveURL" value="http://172.16.8.120:8983/solr/Resolve_Collection" />
    <add key="SolrFileURL" value="http://172.16.8.120:8983/solr/File_Collection" />
    <add key="SolrDataSourceURL" value="http://172.16.8.120:8983/solr/DataSource_Collection" />
    <add key="SolrImageURL" value="http://172.16.8.120:8983/solr/Image_Collection" />
	<add key="SolrDataSourceAciURL" value="http://172.16.8.120:8983/solr/DataSourceAci_Collection" />
	<add key="SolrGraphURL" value="http://172.16.8.120:8983/solr/Graph_Collection" />
	<add key="SolrConfigSetPath" value="C:\Search Server\SolrConfigSets\" />
    <!-- Data Reset -->
    <add key="ResetProcessDefaultNumberOfConceptsForGetSequential" value="10000" />
    <add key="ResetProcessDefaultMaximumConcurrentSynchronizations" value="8" />
    <add key="MaximumRetryTimesOnFailureOfSingleBatchInResetProcess" value="6" />
    <add key="ManagerLogsFolderPath" value="C:\Search Server\Manager Logs\" />
    <!-- Synchronization -->
    <add key="SynchronizationProcessDefaultNumberOfConcepts" value="1000" />
    <!-- Get Candidate Queries-->
    <add key="MaximumParallelGetCandidateRequests" value="16" />
    <!-- Quick Search Results Treshould -->
    <add key="QuickSearchResultsTreshould" value="100" />
    <add key="QuickFileContentSearchResultsTreshould" value="100" />
    <add key="SearchableMediaMaxSizeInMB" value="25" />
    <!-- Filter Search-->
    <add key="FilterSearchResultDefaultCount" value="30" />
    <!-- Publish Synchronization -->
    <add key="MaxCommitIntervalInSeconds" value="120" />
    <!-- Stability File Path -->
    <add key="StablityStatusFilePath" value="C:\Search Server\StabilityStatus.txt" />
    <!-- Image Processing Service -->
    <add key="ImageProcessingServiceURL" value="http://172.16.8.203:8000/api" />
    <add key="MachineVisonServiceInstalled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>