<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Insert"/>
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9051/Service.svc" contract="HorizonService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9061/Service.svc" contract="SearchService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9031/Service.svc" contract="RepositoryService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9041/Service.svc" contract="FileRepositoryService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:9021/Service.svc" contract="JobService.IService" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://datalake.test.kavosh.it.sh:9071/DatalakeService" contract="DataLakeService.DatalakeOperation" xdt:Locator="Match(contract)" xdt:Transform="SetAttributes(address)" />
    </client>
    <services>
      <service name="GPAS.Dispatch.WorkspaceService" xdt:Locator="Match(name)">
        <endpoint contract="GPAS.Dispatch.IWorkspaceService" xdt:Locator="Match(contract)">
          <identity xdt:Transform="Remove" />
        </endpoint>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ServiceBinding" sendTimeout="00:02:00" receiveTimeout="00:02:00" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(sendTimeout, receiveTimeout)" />
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Iservice" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(closeTimeout, openTimeout, receiveTimeout, sendTimeout)" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <appSettings>
    <add key="UserAccountDatabasePassword" value="123456Qwerty" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="GeographicalDatabasePassword" value="123456Qwerty" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="AdministrativeEventLogsPath" value="C:\Test_Deploy_Program_Files\Dispatch Service\Administrative Event Logs" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="ExceptionHandlerLogPath" value="C:\Test_Deploy_Program_Files\Dispatch Service\Error Logs" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedObjectIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastObjectID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedPropertyIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastPropertyID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedRelationshipIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastRelationshipID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedMediaIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastMediaID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedGraphIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastGraphID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedDataSourceIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastDataSourceID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="LastAssignedInvestigationIdStorePath" value="C:\Test_Deploy_Program_Files\Dispatch Service\ID Assignment\LastInvestigationID" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="EnableDiskOnlyIdCachingMode" value="True" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="IconsFolderPath" value="C:\Test_Deploy_Program_Files\Dispatch Service\Ontology\Icons\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="OntologyFolderPath" value="C:\Test_Deploy_Program_Files\Dispatch Service\Ontology\Ontology\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="GlobalResolutionSuitesPath" value="C:\Test_Deploy_Program_Files\Dispatch Service\Global Resolution Suites\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="NumberOfDataSourcesPerType" value="10" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>

  <MapTileSources>
    <TileSources>
      <add UniqueName="Google Map" SourceType="LocallyStored" AccessPattern="C:\Test_Deploy_Program_Files\Dispatch Service\Map Images\z{z}\x{x}y{y}.png" xdt:Locator="Match(UniqueName)" xdt:Transform="SetAttributes(AccessPattern)" />
      <add UniqueName="Open Street - Auxiliary Server" SourceType="RestfullService" AccessPattern="http://172.16.8.224/osm_tiles/{z}/{x}/{y}.png" xdt:Transform="Insert" />
    </TileSources>
  </MapTileSources>
</configuration>