<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MapTileSources" type="GPAS.Dispatch.Entities.ConfigElements.MapTile.MapTileSources, GPAS.Dispatch.Entities" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <!--<forTest></forTest>-->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" executionTimeout="100000000" />
  </system.web>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="WorkspaceServiceBehavior" name="GPAS.Dispatch.WorkspaceService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="ServiceBinding" contract="GPAS.Dispatch.IWorkspaceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="InfrastructureServiceBehavior" name="GPAS.Dispatch.InfrastructureService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="GPAS.Dispatch.IInfrastructureService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="TestServiceBehavior" name="GPAS.Dispatch.TestService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="GPAS.Dispatch.ITestService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <client>
      <endpoint address="http://localhost:7051/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="HorizonService.IService" name="BasicHttpBinding_IHorzionService" />
      <endpoint address="http://localhost:7061/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="SearchService.IService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://localhost:7031/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="RepositoryService.IService" name="basichttpbinding_iservice" />
      <endpoint address="http://localhost:7041/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="FileRepositoryService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:7021/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice" contract="JobService.IService" name="BasicHttpBinding_IService4" />
      <endpoint address="http://datalake.dev.kavosh.it.sh:9071/DatalakeService" binding="basicHttpBinding" bindingConfiguration="DatalakeOperationImplPortBinding" contract="DataLakeService.DatalakeOperation" name="DatalakeOperationImplPort" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkspaceServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate findValue="0a 68 43 fb 29 b7 4c 87 e3 92 6e ca c7 60 0d 32 96 48 4b 12" storeLocation="LocalMachine" x509FindType="FindByThumbprint" storeName="My" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="GPAS.Dispatch.IISHost.App_Code.UserAuthentication, App_Code/UserAuthentication" />
          </serviceCredentials>
        </behavior>
        <behavior name="InfrastructureServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="TestServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="ServiceBinding" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="Message">
            <message establishSecurityContext="false" clientCredentialType="UserName" />
          </security>
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Iservice" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="DatalakeOperationImplPortBinding" textEncoding="UTF-8" />
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svs" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <!-- User Account Control -->
    <add key="UserAccountDatabaseUserName" value="sa" />
    <add key="UserAccountDatabasePassword" value="123456Qwerty" />
    <!-- Geographical -->
    <add key="GeographicalDatabaseUserName" value="sa" />
    <add key="GeographicalDatabasePassword" value="123456Qwerty" />
    <!-- Administrative Event Logs -->
    <add key="AdministrativeEventLogsPath" value="C:\Dispatch Server\Administrative Event Logs\" />
    <!-- Error Logs -->
    <add key="ExceptionHandlerLogRegistration" value="true" />
    <add key="ExceptionHandlerLogPath" value="C:\Dispatch Server\Error Logs\" />
    <!--   if ExceptionHandlerStoreNLastExceptionLogs equals '0' means no limit for Exception Store-->
    <add key="ExceptionHandlerStoreNLastExceptionLogs" value="100" />
    <!-- ID Generators -->
    <add key="LastAssignedObjectIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastObjectID" />
    <add key="LastAssignedPropertyIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastPropertyID" />
    <add key="LastAssignedRelationshipIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastRelationshipID" />
    <add key="LastAssignedMediaIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastMediaID" />
    <add key="LastAssignedGraphIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastGraphID" />
    <add key="LastAssignedDataSourceIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastDataSourceID" />
    <add key="LastAssignedInvestigationIdStorePath" value="\\core.dev.kavosh.it.sh\GPAS_LastAssignmentId\LastInvestigationID" />

    <!-- API ID Generators -->
    <add key="IdGeneratorApiUrl" value="http://id-generator:7071/api/IdGenerator/" />

    <!--   not required on Release deployment-->
    <add key="EnableDiskOnlyIdCachingMode" value="True" />
    <!-- File  -->
    <add key="IconsFolderPath" value="C:\Dispatch Server\Ontology\Icons\" />
    <add key="OntologyFolderPath" value="C:\Dispatch Server\Ontology\Ontology\" />
    <add key="OntologyLoaderFolderPath" value="C:\Dispatch Server\Admin Tools\Ontology\Ontology\" />
    <add key="OntologyIconsLoaderFolderPath" value="C:\Dispatch Server\Admin Tools\Ontology\Icons\" />
    <!-- Global Resolution Suites Path -->
    <add key="GlobalResolutionSuitesPath" value="C:\Dispatch Server\Global Resolution Suites\" />
    <add key="MaxNumberOfTagCloudKeyPhrases" value="100" />
    <add key="NlpServiceURL" value="http://nlp.dev.kavosh.it.sh:9081" />
    <add key="NLPServiceInstalled" value="true" />
    <add key="MaximumAcceptableUnsynchronized" value="5000000" />
    <add key="AdministrativeEventStoreNLastLogs" value="100000" />
    <!-- SearchAround -->
    <add key="CustomSearchAroundStepResultLimit" value="200000" />
    <!-- DataSource -->
    <add key="NumberOfDataSourcesPerType" value="50" />
  </appSettings>
  <MapTileSources>
    <TileSources>
      <!--
      Example:
        * Locally Stored source:
          <add UniqueName="Source 1" SourceType="LocallyStored" AccessPattern="C:\Map Images\z{z}\x{x}y{y}.png"/>
        * Restfull service source:
          <add UniqueName="Source 2" SourceType="RestfullService" AccessPattern="http://api.example.com/maps/{z}/{x}/{y}.png"/>
      Remarks:
        {z} is zoom level
        {x} is tile 'x' index
        {y} is tile 'y' index
        First map tile source is the default one
      -->
      <add UniqueName="Google Map" SourceType="LocallyStored" AccessPattern="..\..\..\..\Setup\Services\@Dispatch Minimal Requirements\Map Images\z{z}\x{x}y{y}.png" />
      <add UniqueName="Google Satelite" SourceType="RestfullService" AccessPattern="http://172.16.8.125/osm_tiles/Global/GoogleSatellite/{z}/lyrs=y&amp;x={x}&amp;y={y}&amp;z={z}.jpg" />
      <add UniqueName="Open Street" SourceType="RestfullService" AccessPattern="http://172.16.8.125/osm_tiles/Global/OpenStreetMap/{z}/{x}/{y}.png" />
      <add UniqueName="Dark Map" SourceType="RestfullService" AccessPattern="http://172.16.8.125/osm_tiles/Global/DarkMap/{z}/{x}/{y}.png" />
    </TileSources>
  </MapTileSources>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>