<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="Application" />
                <binding name="DatalakeOperationImplPortBinding" />
                <binding name="BasicHttpBinding_IService2" />
                <binding name="BasicHttpBinding_IService3" />
                <binding name="BasicHttpBinding_IService4" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://datalake.dev.kavosh.it.sh:9071/DatalakeService"
                binding="basicHttpBinding" bindingConfiguration="DatalakeOperationImplPortBinding"
                contract="DataLakeService.DatalakeOperation" name="DatalakeOperationImplPort" />
            <endpoint address="http://core-kavosh:9051/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService4" contract="HorizonService.IService"
                name="BasicHttpBinding_IService4" />
            <endpoint address="http://core-kavosh:9031/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="RepositoryService.IService"
                name="BasicHttpBinding_IService2" />
            <endpoint address="http://core-kavosh:9041/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="FileRepositoryService.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://core-kavosh:9061/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService3" contract="SearchService.IService"
                name="BasicHttpBinding_IService3" />
            <endpoint address="http://core-kavosh:9021/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="JobService.IService"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
